.root {
    -fx-background-color: #221;
    -fx-background-radius: 28;
}

.mainPane {
    -fx-background-color: linear-gradient(to top left, pink, purple);
    -fx-background-radius: 15 15 25 25;
}

.highlight {
    -fx-background-color: #00000025;
    -fx-background-radius: 15;
}